In [1]:
11

11

In [2]:
e="python"
e

'python'

In [5]:
e[-2:3:1]

''

In [2]:
3.4

3.4

In [3]:
True

True

In [4]:
False

False

In [5]:
"Data analysis with pandas"

'Data analysis with pandas'

In [6]:
3 + 4.3

7.3

In [7]:
x = 34

In [8]:
x

34

In [9]:
print(x)

34

In [10]:
type(x)

int

In [11]:
y = 22.6

In [12]:
y

22.6

In [13]:
type(y)

float

In [14]:
x + y

56.6

In [15]:
z = x*y

In [16]:
z

768.4000000000001

In [17]:
x - 2*y

-11.200000000000003

In [18]:
T = True

In [19]:
T

True

In [20]:
type(T)

bool

In [21]:
F = False

In [22]:
F

False

In [23]:
x*z

26125.600000000002

In [24]:
mystr="data analysis with pandas"

In [25]:
mystr

'data analysis with pandas'

In [26]:
type(mystr)

str

In [27]:
mystr.capitalize()

'Data analysis with pandas'

In [28]:
mystr.upper()

'DATA ANALYSIS WITH PANDAS'

In [29]:
mystr.lower()

'data analysis with pandas'

In [30]:
mystr.split()

['data', 'analysis', 'with', 'pandas']

In [31]:
mystr.isdigit()

False

In [32]:
"56".isdigit()

True

In [34]:
"x".isdigit()

False

In [35]:
len(mystr)

25

In [36]:
mystr[5]

'a'

In [37]:
mystr[5:13]

'analysis'

In [38]:
mystr[5:]

'analysis with pandas'

In [39]:
mystr[:4]

'data'

In [40]:
mystr[-5]

'a'

In [41]:
mystr[-1]

's'

# 11 January 2022  (Input function)

In [5]:
a=input()

23

In [7]:
a=input("enter an integer  ")

enter an integer  34

In [8]:
type(a)

str

In [9]:
a=input("enter an integer  ")

enter an integer  54646477

In [10]:
a

'54646477'

In [11]:
a=input("this is my var a  ")

this is my var a  24

In [12]:
type(a)

str

In [13]:
a=int(input("this is my var a  "))

this is my var a  34

In [14]:
type(a)

int

In [15]:
a=int(input("this is my var a  "))
b=int(input("this is my var b  "))
c=int(input("this is my var c  "))

this is my var a  34
this is my var b  56
this is my var c  58

In [1]:
a=int(input("input a number lesser than 34--"))

input a number lesser than 34--23

In [2]:
if a<34:
    pass

In [3]:
a=int(input("input a number"))
if a<34:
    print("input data is lesser than 34 and I am fine with it")

input a number23
input data is lesser than 34 and I am fine with it

In [4]:
a=int(input("input a number"))
if a<34:
    print("input data is lesser than 34 and I am fine with it")

input a number35

In [16]:
a=int(input("input a number"))
if a<34:
    print("input data is lesser than 34 and I am fine with it")
else:
    print("user input is not lesser than 34")

input a number56
user input is not lesser than 34

In [13]:
salary=int(input("enter your salary  "))
if salary <=100000 and salary> 50000:
    print("I will buy a car")
elif salary<=50000 and salary> 25000:
    print("I will buy a bike")
elif salary>15000 and salary<= 25000:
    print("I will not buy anything")
else:
    print("i will go for savings")

enter your salary  67000
I will buy a car

In [20]:
a=int(input("input a number "))
if a<34:
    print("input data is lesser than 34 and I am fine with it")
elif a<100:
    print("user input is not lesser than 100")
else:
    print("user input is not lesser than 34")

input a number 67
user input is not lesser than 100

In [21]:
o=a+b/c
ol=o+67+6j

In [22]:
ol

(134.9655172413793+6j)

In [23]:
type(ol)

complex

In [11]:
first_name="Pranjal"   # 1st.Pranjal    2nd.kajal    3rd.kajal
last_name="Jadhav"     # 1st.Jadhav    2nd.Jadhav    3rd.Kale

if first_name=="Pranjal" and last_name=="Jadhav":
    print("My name is Pranjal Jadhav")
elif first_name=="Pranjal" or last_name=="Jadhav":
    print("My name is not Pranjal")
else:
    print("This is not me")

My name is Pranjal Jadhav

In [1]:
#first_name="Pranjal"
#last_name="Jadhav"
first_name= input("Enter your first name: ")
last_name=input("Enter your first name: ")

if first_name=="Pranjal" and last_name=="Jadhav":
    print("My name is Pranjal Jadhav")
elif first_name=="Pranjal" or last_name=="Jadhav":
    print("This is not Pranjal")
elif first_name=="pranjal" and last_name=="jadhav":
    print("correct but 1st letter should be capital")
else:
    print("This is not me")

Enter your first name: Pranjal
Enter your first name: Jadhav
My name is Pranjal Jadhav

# while loop

In [1]:
notes = 5
i = 1
while i<= notes:    #1<=5    2<=5    3<=5    4<=5    5<=5
    print(i)         #1      2       3      4         5
    i+=1    #i=i+1   # i=2   i=3     i=4      i=5      i=6

1
2
3
4
5

In [2]:
i=1
j=5
while i<j:
    print(i)
    i=i+1

1
2
3
4

In [4]:
initial_speed = 0
final_speed =100
count=1

while initial_speed<final_speed:
    print("This is my speed")
    count=count+1
    if count==10:
        break

This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed

In [5]:
initial_speed = 0
final_speed =100
count=1

while initial_speed<final_speed:
    print("This is my speed")
    count=count+1
    if count==final_speed:
        break

This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed

In [10]:
initial_speed = 0
final_speed =100
count=1

while initial_speed<final_speed:
    print("This is my speed")
    count=count+1
    if count==10:
        break

This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed

# Slicing and stepping function(12 jan)

In [1]:
s="My name is Pranjal"

In [2]:
s

'My name is Pranjal'

In [3]:
s[3:10]

'name is'

In [4]:
s[3:10:1]

'name is'

In [5]:
s[3:10:2]

'nm s'

In [6]:
len(s)

18

In [7]:
s[18:0:1]

''

In [8]:
s[18:15:1]

''

In [9]:
s[::-1]

'lajnarP si eman yM'

In [10]:
s[18::-1]

'lajnarP si eman yM'

In [11]:
s[18:4:-1]

'lajnarP si em'

In [49]:
s[2:-6]

' name is P'

In [18]:
s[2:-1]

' name is Pranja'

In [19]:
s

'My name is Pranjal'

# For loop

In [29]:
for i in s:
    print(i, end="")

My name is Pranjal

In [30]:
for i in s:
    if i=='a':
        print("I got 'a' as a string")
    print(i)

M
y

n
I got 'a' as a string
a
m
e

i
s

P
r
I got 'a' as a string
a
n
j
I got 'a' as a string
a
l

In [31]:
for i in s:
    print(i)
else:
    print("this is else condition")

M
y

n
a
m
e

i
s

P
r
a
n
j
a
l
this is else condition

In [32]:
for i in s:
    if i=='n':
        break
    print(i)
else:
    print("this is else condition")

M
y

In [33]:
for i in s:
    if i=='n':
        continue
    print(i)
else:
    print("this is else condition")

M
y

a
m
e

i
s

P
r
a
j
a
l
this is else condition

In [34]:
m= "Quasdtech"
mm= ""

In [35]:
type(m)

str

In [36]:
type(mm)

str

In [37]:
range(10)

range(0, 10)

In [38]:
len(m)

9

In [39]:
range(9)

range(0, 9)

In [40]:
m= "Quasdtech"
mm= ""
for i in range(len(m)):
    if m[i]=='d':
        continue
    else:
        mm=mm + m[i]

In [41]:
m

'Quasdtech'

In [42]:
mm

'Quastech'

In [43]:
m= "Quasdtech"
mm= ""
for i in range(len(m)):
    if m[i]=='d':
        continue
    print(m[i])

Q
u
a
s
t
e
c
h

# Write a Program to swap the values of two variables

In [57]:
A = int(input("Enter value for A: "))  
B = int(input("Enter value for B: "))  
     
A,B = B,A

print ("The Value of A after swapping: ",A)  
print ("The Value of B after swapping: ",B)

Enter value for A: 11
Enter value for B: 22
The Value of A after swapping:  22
The Value of B after swapping:  11

# OR

In [58]:
A = int(input("Enter value for A: "))  
B = int(input("Enter value for B: "))  
     
Temp=A
A=B
B=Temp

print ("The Value of A after swapping: ",A)  
print ("The Value of B after swapping: ",B)

Enter value for A: 11
Enter value for B: 22
The Value of A after swapping:  22
The Value of B after swapping:  11

In [2]:
n = 7
for i in range (0, n):
    for j in range (0, i+1):        #0-1(1-1)   #i=2, j->0-2(2-1=1)
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

# Array

In [3]:
name ="Jose"
phone=454546
add = "Ghatkopar"
name, phone, add = "Jose", 454546, "Ghatkopar"

In [5]:
#list
l=["Jose", 454546, "Ghatkopar"]
l

['Jose', 454546, 'Ghatkopar']

In [6]:
l[0]

'Jose'

In [7]:
l[1]

454546

In [8]:
l[2]

'Ghatkopar'

In [9]:
type(l)

list

In [11]:
l1=[]
l1

[]

In [12]:
type(l1)

list

In [6]:
list1=["Jose", 454546, "Ghatkopar", True, (34+7j), [3,4,6,"ghj"], 6.89]
list1

['Jose', 454546, 'Ghatkopar', True, (34+7j), [3, 4, 6, 'ghj'], 6.89]

In [7]:
list1[5:]

[[3, 4, 6, 'ghj'], 6.89]

In [8]:
list1[4]

(34+7j)

In [9]:
range(10)

range(0, 10)

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
range_1 = range(2, 20, 3)
lista = list(range_1)
print(lista)

[2, 5, 8, 11, 14, 17]

In [18]:
for i in list1:
    print(i, end= " , ")

Jose , 454546 , Ghatkopar , True , (34+7j) , [3, 4, 6, 'ghj'] , 6.89 ,

In [19]:
for i in list1:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'float'>

In [21]:
type(list1(0))

TypeError: 'list' object is not callable

In [12]:
for i in list1:
    if type(i)==list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [13]:
for i in list1:
    if type(i)==list:
        n=0
        for j in i:
            
            if type(j)==int:
                n=n+j
        print(n)
        print(type(j))

13
<class 'str'>