# String Manipulation

In [1]:
Intro= "my name is Pranjal, my organization name is quastech"
Intro

'my name is Pranjal, my organization name is quastech'

In [3]:
Intro.find("name")

3

In [4]:
b = Intro.find("name")  #b=3
for i in range (len("name")):
    print(b+i)

3
4
5
6

In [5]:
len("name")

4

In [6]:
range(4)

range(0, 4)

In [7]:
Intro

'my name is Pranjal, my organization name is quastech'

In [8]:
Intro.split()

['my',
 'name',
 'is',
 'Pranjal,',
 'my',
 'organization',
 'name',
 'is',
 'quastech']

In [9]:
Intro.split(',')

['my name is Pranjal', ' my organization name is quastech']

In [10]:
Intro.split('n')

['my ', 'ame is Pra', 'jal, my orga', 'izatio', ' ', 'ame is quastech']

In [11]:
Intro.split('na')

['my ', 'me is Pranjal, my organization ', 'me is quastech']

In [12]:
type(Intro.split('n'))

list

In [13]:
Intro.upper()

'MY NAME IS PRANJAL, MY ORGANIZATION NAME IS QUASTECH'

In [14]:
Intro.lower()

'my name is pranjal, my organization name is quastech'

In [15]:
Intro.swapcase()

'MY NAME IS pRANJAL, MY ORGANIZATION NAME IS QUASTECH'

In [17]:
"  ".join(Intro)

'm  y     n  a  m  e     i  s     P  r  a  n  j  a  l  ,     m  y     o  r  g  a  n  i  z  a  t  i  o  n     n  a  m  e     i  s     q  u  a  s  t  e  c  h'

In [19]:
"t".join(Intro)

'mtyt tntatmtet titst tPtrtatntjtatlt,t tmtyt totrtgtatntitztatttitotnt tntatmtet titst tqtutatstttetcth'

In [20]:
list(reversed(Intro))

['h',
 'c',
 'e',
 't',
 's',
 'a',
 'u',
 'q',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'n',
 'o',
 'i',
 't',
 'a',
 'z',
 'i',
 'n',
 'a',
 'g',
 'r',
 'o',
 ' ',
 'y',
 'm',
 ' ',
 ',',
 'l',
 'a',
 'j',
 'n',
 'a',
 'r',
 'P',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'y',
 'm']

In [23]:
for i in reversed(Intro):
    Intro1 = print(i, end="")
    Intro1=[]

hcetsauq si eman noitazinagro ym ,lajnarP si eman ym

In [24]:
type(Intro1)

list

In [25]:
Intro[::-1]

'hcetsauq si eman noitazinagro ym ,lajnarP si eman ym'

In [30]:
s="    Hello  "
s

'    Hello  '

In [31]:
s.strip()

'Hello'

In [32]:
s.lstrip()

'Hello  '

In [33]:
s.rstrip()

'    Hello'

In [34]:
s1="Greetings from Quastech"
s1

'Greetings from Quastech'

In [35]:
s1.replace("G","T")

'treetings from Quastech'

In [41]:
s1.replace("Gr","Sr")

'Sreetings from Quastech'

In [39]:
s1

'Greetings from Quastech'

In [42]:
t=s1.replace("Gr","Sr")
t

'Sreetings from Quastech'

In [44]:
t[0]="m"      #Strings are immutable

TypeError: 'str' object does not support item assignment

In [45]:
s

'    Hello  '

In [46]:
s.center(20,' ')

'        Hello       '

In [47]:
s.center(20,'*')

'****    Hello  *****'

In [48]:
s.center(20,'@')

'@@@@    Hello  @@@@@'

In [49]:
r="quas\ttech"

In [50]:
r

'quas\ttech'

In [51]:
r.expandtabs()

'quas    tech'

In [52]:
r1="Welcome\tto\tQuastech"

In [53]:
r1.expandtabs()

'Welcome to      Quastech'

In [56]:
strr = "xyz\t12345\tabc"
strr

'xyz\t12345\tabc'

In [57]:
strr.expandtabs()

'xyz     12345   abc'

In [58]:
strr = "xyz\t12345\tabc"
result=strr.expandtabs()
print(result)

xyz     12345   abc

In [ ]:
# strr = "xyz\t12345\tabc"
print("Original String:" , strr)

#tabsize is set to 2
print("Tabsize 2:" ,strr.expandtabs(2))

#tabsize is set to 3
print("Tabsize 3:" ,strr.expandtabs(3))

#tabsize is set to 4
print("Tabsize 4:" ,strr.expandtabs(4))

#tabsize is set to 5
print("Tabsize 5:" ,strr.expandtabs(5))

#tabsize is set to 6
print("Tabsize 6:" ,strr.expandtabs(6))

<b> 1. The default tabsize is 8. The tab stops are 8, 16 and so on.</b>
    
<b> 2. When you set the tabsize to 2. The tab stops are 2, 4, 6, 8 and so on.</b>  

<b> 3. When you set the tabsize to 3. The tab stops are 3, 6, 9 and so on.</b>   

<b> 4. When you set the tabsize to 4. The tab stops are 4, 8, 12 and so on.</b>  

<b> 5. When you set the tabsize to 5. The tab stops are 5, 10, 15 and so on.</b>  

<b> 6. When you set the tabsize to 6. The tab stops are 6, 12, 18 and so on.</b>

# Task

In [7]:
#1. a= "We all a part of Data Science"
a= "We all a part of Data Science"
a

'We all a part of Data Science'

In [8]:
#2. Normalize all the Strings in lowercase
a.lower()

'we all a part of data science'

In [9]:
#3. Find the number of occurance of "a" in entire data
a.count("a")

5

In [10]:
#4. Find all the location/Indexes of "a" in string
for i in range(len(a)):
    if a[i]=="a":
        print(i)

3
7
10
18
20

In [11]:
#5. Replace all the "a" with "Python"
a.replace("a", "Python")

'We Pythonll Python pPythonrt of DPythontPython Science'

In [12]:
#6. Print all the words as list
a.split()

['We', 'all', 'a', 'part', 'of', 'Data', 'Science']

# 17 Jan

In [2]:
Intro= "My name is Pranjal, my organization name is Quastech"
Intro

'My name is Pranjal, my organization name is Quastech'

In [3]:
a=Intro.find("name")
a

3

In [4]:
b=a+len("name")
b

7

In [5]:
Intro.find("name", b)

36

In [6]:
Intro= "My name is Pranjal, my organization name is Quastech"
a=Intro.find("name")
b=a+len("name")
Intro.find("name", b)

36

<b> Mutable: It allows to do manipulation with index number</b>

<b> Immutable: It doesn't allow to do manipulation with index number</b>

In [7]:
Intro

'My name is Pranjal, my organization name is Quastech'

In [8]:
s="Quastech"
s

'Quastech'

In [9]:
s.islower()

False

In [10]:
s.isalnum()

True

In [11]:
s.isdecimal()

False

In [12]:
s.isdigit()

False

In [13]:
s.isidentifier()

True

In [14]:
s.isprintable()

True

In [15]:
s.isascii()

True

In [16]:
s.isspace()

False

In [17]:
s.istitle()

True

In [18]:
s.endswith("h")

True

In [19]:
s.startswith("Q")

True

In [20]:
s.isalpha()

True

In [21]:
len(s)

8

In [22]:
#Another way to count the length
count=0
for i in s:
    count=count+1
print(count)

8

In [23]:
s1="This is a python batch"
count=0
for i in s1:
    count=count+1
print(count)

22

In [55]:
s1="This is a python batch"
print(len(s1))
for i in range(len(s1)+1):
    print(s1[-i],end="")

22
Thctab nohtyp a si sihT

In [28]:
for i in s1:
    print(i, end="")

This is a python batch

In [25]:
len(s1)

22

In [27]:
for i in range(len(s1)):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21

In [30]:
 for i in range(len(s1)):
    print(s1[i],end="")

This is a python batch

In [31]:
 for i in range(len(s1)):
    print(s1[-i],end="")

Thctab nohtyp a si sih

In [33]:
s2="Python"
s2
len(s2)

6

In [35]:
#Reversing string by using while loop
s2="Python"
ch=len(s2)-1
while ch>=0:
    print(s2[ch])
    ch=ch-1

n
o
h
t
y
P

In [36]:
#Reversing string by using while loop
s2="Python"
ch=len(s2)-1
while ch>=0:
    print(s2[ch], end="")
    ch=ch-1

nohtyP

In [37]:
name="ipython"
vowels="AaEeIiOoUu"

for i in name:
    if i in vowels:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

i is a vowel
p is not a vowel
y is not a vowel
t is not a vowel
h is not a vowel
o is a vowel
n is not a vowel

In [38]:
"It is a Vowel"

'It is a Vowel'

In [39]:
"{} is a vowel".format("I")

'I is a vowel'

In [40]:
"{} am a Python".format("I")

'I am a Python'

In [41]:
"{} name is Pranjal".format("My")

'My name is Pranjal'

In [42]:
"{} name {} Pranjal".format("My", "is")

'My name is Pranjal'

In [43]:
a=input()
b=input()

My
is

In [44]:
"{} name {} Pranjal".format(a,b)

'My name is Pranjal'

In [45]:
#Palindrome

In [46]:
a="madam"
b="eye"
c=2002
d="malayalam"
e="nitin"
f="xyx"

In [49]:
s= input()
s1=s[::-1]

if s==s1:
    print("It's a Palindrome")
else:
    print("It's not a Palindrome")

eye
It's a Palindrome

# List Manipulation

In [51]:
l=["python", "DS", "ML", 35,78, 56, [10,15,78,23]]
l

['python', 'DS', 'ML', 35, 78, 56, [10, 15, 78, 23]]

['python', 'DS', 'ML']

In [53]:
len(s)

3

In [56]:
l[5]

56

In [57]:
"ML" in l

True

In [58]:
l[::-1]

[[10, 15, 78, 23], 56, 78, 35, 'ML', 'DS', 'python']

In [59]:
for i in l:
    if type(i)==list:
        print("{} is from list".format(i))
    else:
        print("{} is not from list".format(i))

python is not from list
DS is not from list
ML is not from list
35 is not from list
78 is not from list
56 is not from list
[10, 15, 78, 23] is from list

In [61]:
l1=["python", "DS", "ML", 35]
l1

['python', 'DS', 'ML', 35]

In [62]:
l2=[345, 2435, "ineuron", "tech"]
l2

[345, 2435, 'ineuron', 'tech']

In [64]:
l1+l2          #append l1 to l2

['python', 'DS', 'ML', 35, 345, 2435, 'ineuron', 'tech']

In [65]:
l1*3

['python', 'DS', 'ML', 35, 'python', 'DS', 'ML', 35, 'python', 'DS', 'ML', 35]

In [66]:
max([10,45,86,15])

86

In [67]:
min([10,45,86,15])

10

In [68]:
max([10,45,86,15,"hjii"])

TypeError: '>' not supported between instances of 'str' and 'int'

In [70]:
max(["python", "DS", "ML", "AI", "NLP"])

'python'

In [71]:
min(["python", "DS", "ML", "AI", "NLP"])

'AI'

In [92]:
a=[1,2,3,4]
a

[1, 2, 3, 4]

In [93]:
a.append(5+8j)
a

[1, 2, 3, 4, (5+8j)]

In [94]:
a.insert(3,"ANN")     #(place/position, "varible")
a

[1, 2, 3, 'ANN', 4, (5+8j)]

In [95]:
a.insert(-1,"test")
a

[1, 2, 3, 'ANN', 4, 'test', (5+8j)]

In [96]:
a.insert(0,"test")
a

['test', 1, 2, 3, 'ANN', 4, 'test', (5+8j)]

In [97]:
a.insert(4,"test")
a

['test', 1, 2, 3, 'test', 'ANN', 4, 'test', (5+8j)]

In [98]:
a.count("test")

3

In [99]:
a.append([1,2,3,4])
a

['test', 1, 2, 3, 'test', 'ANN', 4, 'test', (5+8j), [1, 2, 3, 4]]

In [100]:
a.extend("fgfh")

In [101]:
a

['test',
 1,
 2,
 3,
 'test',
 'ANN',
 4,
 'test',
 (5+8j),
 [1, 2, 3, 4],
 'f',
 'g',
 'f',
 'h']

In [8]:
lk=["kddi"]
lk

['kddi']

In [10]:
lk.extend("lk")
lk

['kddi', 'l', 'k', 'l', 'k']

In [11]:
a.extend(33)

NameError: name 'a' is not defined

In [105]:
a.extend([23, 56])
a

['test',
 1,
 2,
 3,
 'test',
 'ANN',
 4,
 'test',
 (5+8j),
 [1, 2, 3, 4],
 'f',
 'g',
 'f',
 'h',
 23,
 56,
 23,
 56,
 23,
 56]

In [106]:
a.append([1,2,3,4])
a

['test',
 1,
 2,
 3,
 'test',
 'ANN',
 4,
 'test',
 (5+8j),
 [1, 2, 3, 4],
 'f',
 'g',
 'f',
 'h',
 23,
 56,
 23,
 56,
 23,
 56,
 [1, 2, 3, 4]]

In [107]:
a.extend([1,2,3,4])
a

['test',
 1,
 2,
 3,
 'test',
 'ANN',
 4,
 'test',
 (5+8j),
 [1, 2, 3, 4],
 'f',
 'g',
 'f',
 'h',
 23,
 56,
 23,
 56,
 23,
 56,
 [1, 2, 3, 4],
 1,
 2,
 3,
 4]

In [108]:
l4=[1, 2, 3, 4]
l4.extend([8,4,5,"djj"])
l4.append(7)

In [109]:
l4

[1, 2, 3, 4, 8, 4, 5, 'djj', 7]

In [110]:
l4.index(3)

2

In [111]:
l5=[2,3,4,5,6,7]
l5

[2, 3, 4, 5, 6, 7]

In [112]:
l5.pop()

7

In [113]:
l5.pop(0)

2

In [114]:
l5.pop(-1)

6

In [118]:
l6=[3,4,5,6,7,8,9]
l6

[3, 4, 5, 6, 7, 8, 9]

In [119]:
l6.remove(6)

In [120]:
l6

[3, 4, 5, 7, 8, 9]

In [121]:
l6.reverse()

In [122]:
l6

[9, 8, 7, 5, 4, 3]

In [123]:
l6.sort()

In [124]:
l6

[3, 4, 5, 7, 8, 9]

# Task (17 Jan)

- l = [[  ], [  ],[  ]]            //create a list
- 1. Append two more lists and one complex number in between the existing list
- 2. if your nested list contain string then find out its index in nested list and print it. then remove the string.
- 3. You are supposed to extract second element of each nested list

In [1]:
li=[[23,56,"dyudj"],[34,"twyud",45,56],[34,78,11,"fhf"]]
li

[[23, 56, 'dyudj'], [34, 'twyud', 45, 56], [34, 78, 11, 'fhf']]

In [2]:
li.insert(2,[1,2,3,4])

In [3]:
li

[[23, 56, 'dyudj'], [34, 'twyud', 45, 56], [1, 2, 3, 4], [34, 78, 11, 'fhf']]

In [4]:
li.append((4+8j))
li

[[23, 56, 'dyudj'],
 [34, 'twyud', 45, 56],
 [1, 2, 3, 4],
 [34, 78, 11, 'fhf'],
 (4+8j)]

In [7]:
li.insert(3,[2,3,4,8])

In [8]:
li

[[23, 56, 'dyudj'],
 [34, 'twyud', 45, 56],
 [34, 78, 11, 'fhf'],
 [2, 3, 4, 8],
 [1, 2, 3, 4],
 (4+8j)]

In [5]:
# 2. if your nested list contain string then find out its index in nested list and print it. then remove the string.

for i in li:
    if type(i)==list:
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("Index of string {} is :".format(i[j],j))
            j = j+1
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("The string in the nested list is {}". format(i[j],j))
                i.remove(i[j])
                continue
            j = j + 1
print("List after removal of string from nested list is\r", li, '\n')

Index of string dyudj is :
The string in the nested list is dyudj
Index of string twyud is :
The string in the nested list is twyud
Index of string fhf is :
The string in the nested list is fhf
 [[23, 56], [34, 45, 56], [1, 2, 3, 4], [34, 78, 11], (4+8j)]

In [6]:
li

[[23, 56], [34, 45, 56], [1, 2, 3, 4], [34, 78, 11], (4+8j)]

In [7]:
# 3. You are supposed to extract second element of each nested list

for i in li:
    if type(i)==list:
        print(i[1])

56
45
2
78