# Tuple

In [1]:
l=list([10,20])
l

[10, 20]

In [2]:
type(l)

list

In [3]:
t=()
type(t)

tuple

In [4]:
l1=[234,34, "Python", 3.34,True]
l1

[234, 34, 'Python', 3.34, True]

In [5]:
t1=tuple(l1)

In [6]:
t1

(234, 34, 'Python', 3.34, True)

In [7]:
t1[0:4]

(234, 34, 'Python', 3.34)

In [8]:
t1[::-1]

(True, 3.34, 'Python', 34, 234)

In [9]:
l1

[234, 34, 'Python', 3.34, True]

In [10]:
l1[0]

234

In [11]:
l1[0]="Data Science"
l1

['Data Science', 34, 'Python', 3.34, True]

In [12]:
t1

(234, 34, 'Python', 3.34, True)

In [13]:
t1[1]="Ml"
t1

TypeError: 'tuple' object does not support item assignment

In [14]:
l2=list(t1)
l2

[234, 34, 'Python', 3.34, True]

In [15]:
l2[2]="gfhfj"
l2

[234, 34, 'gfhfj', 3.34, True]

In [16]:
tuple(l2)

(234, 34, 'gfhfj', 3.34, True)

In [17]:
tuple(t1)

(234, 34, 'Python', 3.34, True)

In [18]:
t1

(234, 34, 'Python', 3.34, True)

In [19]:
t2=(344,23,45)
t2

(344, 23, 45)

In [20]:
t1+t2

(234, 34, 'Python', 3.34, True, 344, 23, 45)

In [21]:
t1*2

(234, 34, 'Python', 3.34, True, 234, 34, 'Python', 3.34, True)

In [22]:
t1

(234, 34, 'Python', 3.34, True)

In [23]:
"rtyt" in t1

False

In [24]:
34 in t1

True

In [25]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [26]:
min(t1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [27]:
t3=(34,12,4,56)
t3

(34, 12, 4, 56)

In [28]:
max(t3)

56

In [29]:
min(t3)

4

In [30]:
t4=("vfhh", "ghhgj", "rgjjgj", "shjgj")
t4

('vfhh', 'ghhgj', 'rgjjgj', 'shjgj')

In [31]:
max(t4)

'vfhh'

In [32]:
min(t4)

'ghhgj'

In [33]:
t3.index(12)

1

In [34]:
t3.index(4)

2

In [35]:
t5=(23,35,23,23,5,7)
t5

(23, 35, 23, 23, 5, 7)

In [36]:
t5.count(23)

3

In [37]:
t6=78

In [38]:
t3

(34, 12, 4, 56)

In [39]:
l4=list(t3)
l4

[34, 12, 4, 56]

In [40]:
l4.insert(3, "600")
l4

[34, 12, 4, '600', 56]

In [41]:
tuple(l4)

(34, 12, 4, '600', 56)

In [42]:
t=((3,4,5),("ghgj",45,56),(True,45+5j,6.45))
t

((3, 4, 5), ('ghgj', 45, 56), (True, (45+5j), 6.45))

In [43]:
t[0]

(3, 4, 5)

In [44]:
t[1]

('ghgj', 45, 56)

In [45]:
t[2]

(True, (45+5j), 6.45)

In [46]:
t[3]

IndexError: tuple index out of range

In [47]:
type(t[0])

tuple

In [48]:
t=((2,3,5,6),("fghfj",45,45),("123",455),78,23,56,(4,5,6,8))
t

((2, 3, 5, 6), ('fghfj', 45, 45), ('123', 455), 78, 23, 56, (4, 5, 6, 8))

In [49]:
t[5]

56

In [50]:
t[6]

(4, 5, 6, 8)

In [51]:
t[2][0:]

('123', 455)

In [52]:
t[6][1:3]

(5, 6)

In [53]:
t[1][0]

'fghfj'

In [54]:
for i in t:
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'tuple'>

In [55]:
t

((2, 3, 5, 6), ('fghfj', 45, 45), ('123', 455), 78, 23, 56, (4, 5, 6, 8))

In [56]:
for i in t:
    if type(i)==tuple:
        print(i)

(2, 3, 5, 6)
('fghfj', 45, 45)
('123', 455)
(4, 5, 6, 8)

In [57]:
for i in t:
    if type(i)==tuple:
        print(i[0])

2
fghfj
123
4

In [58]:
t=(234,45,"Python","ML",3.45, 45,23,"DS")
t

(234, 45, 'Python', 'ML', 3.45, 45, 23, 'DS')

In [60]:
i=int(input("Take a input from the user "))     ### Bydefault it take value as string
if i in t:
    print("yes your name is available")
else:
    print("your name is not available")

Take a input from the user 45
yes your name is available

In [1]:
#### this is right code
i = input("take a input from the user: ")  #->str
if i==int:
    if i in t:
        print("entered input is available")
    else:
        print("entered input is not available")
if i==str:
    
    if i in t:
        print("entered input is available")
    else:
        print("entered input is not available")
else:
    print("invalid input")

take a input from the user: 45
invalid input

### The del keyword can be used to delete a list, slice a list, delete a dictionaries, remove key-value pairs from a dictionary, delete variables, etc.

In [1]:
my_list1=[1,2,3,4,5,6,7,8,9]
my_list2=["Python", "ML", "DS"]

In [2]:
###Check if my_list1 and my_list2 exists
print(my_list1)
print(my_list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['Python', 'ML', 'DS']

In [3]:
###delete second element of my_list1
del my_list1[1]
###Check if the second element in my_list1 is deleted
my_list1              #### or we can give command like print(my_list1)

[1, 3, 4, 5, 6, 7, 8, 9]

In [4]:
###slice my_list1 from index 3 to 5
my_list1[3:5]

[5, 6]

In [5]:
### delete my_list2
del my_list2
###Check if my_list2 is exist
my_list2          #### or we can give command like print(my_list2)

NameError: name 'my_list2' is not defined

### Dictionary

In [2]:
my_dict1={"small":"big", "black":"white", "up":"down"}
my_dict2={"dark":"light", "fat":"thin", "sky":"land"}
###check if my_dict1 and my_dict2 exists
print(my_dict1)
print(my_dict2)

{'small': 'big', 'black': 'white', 'up': 'down'}
{'dark': 'light', 'fat': 'thin', 'sky': 'land'}

In [3]:
##delete key-value pair with key "black" from my_dict1
del my_dict1["black"]

In [4]:
###check if key-value pair with key "black" from my_dict1 is deleted
print(my_dict1)

{'small': 'big', 'up': 'down'}

In [5]:
###delete my_dict2
del my_dict2

In [6]:
###Check if my_dict2 exists
print(my_dict2)

NameError: name 'my_dict2' is not defined

### 1. del keyword for deleting variables

In [7]:
my_variable1=20
my_variable2="Hello World"
###Check if my_variable1 and my_variable2 exists
print(my_variable1)
print(my_variable2)

20
Hello World

In [8]:
##delete both variables
del my_variable1
del my_variable2
###Check if my_variable1 and my_variable2 exists
print(my_variable1)
print(my_variable2)

NameError: name 'my_variable1' is not defined

## Set

In [9]:
x=()

In [10]:
type(x)

tuple

In [11]:
x=set()
type(x)

set

In [12]:
l=[34,56,34,45,56,45,67,"Python", "python","ML", "ml"]
l

[34, 56, 34, 45, 56, 45, 67, 'Python', 'python', 'ML', 'ml']

In [13]:
set(l)

{34, 45, 56, 67, 'ML', 'Python', 'ml', 'python'}

In [14]:
s=set(l)

In [15]:
s

{34, 45, 56, 67, 'ML', 'Python', 'ml', 'python'}

In [16]:
for i in s:
    print(i)

34
67
python
45
Python
ML
56
ml

In [17]:
67 in s

True

In [18]:
s(0)

TypeError: 'set' object is not callable

In [19]:
l=[10,20,10,20,30]

In [20]:
s=set()

In [21]:
s

set()

In [22]:
s.add("Python")
s

{'Python'}

In [23]:
s.add("fghj")
s

{'Python', 'fghj'}

In [24]:
s.add([34.56])
s

TypeError: unhashable type: 'list'

In [25]:
l1=[1,2,3,4,"ffjkfk",12.4]
set(l1)

{1, 12.4, 2, 3, 4, 'ffjkfk'}

In [26]:
l=[34,56,34,45,56,45,67,"Python", "python","ML", "ml",[1,3,4]]
set(l)

TypeError: unhashable type: 'list'

In [27]:
s

{'Python', 'fghj'}

In [28]:
s.add(45)
s

{45, 'Python', 'fghj'}

In [29]:
s.add(45)
s

{45, 'Python', 'fghj'}

In [31]:
s.remove(45)
s

{'Python', 'fghj'}

In [32]:
45 in s

False

In [33]:
"Python" in s

True

In [34]:
s.add(23)
s

{23, 'Python', 'fghj'}

In [35]:
s1=set()

In [36]:
l=[34,45,23,567]

In [37]:
s1=set(l)

In [38]:
s1

{23, 34, 45, 567}

In [39]:
s

{23, 'Python', 'fghj'}

In [40]:
s+s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [41]:
s.append(25)

AttributeError: 'set' object has no attribute 'append'

In [42]:
s*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [43]:
list1=list(s)

In [44]:
list1

['fghj', 'Python', 23]

In [45]:
list1.append(25)

In [46]:
list1

['fghj', 'Python', 23, 25]

In [47]:
tuple1=tuple(s)

In [48]:
tuple1

('fghj', 'Python', 23)

In [49]:
set(tuple1)

{23, 'Python', 'fghj'}

# Dictionary

In [50]:
x={}

In [51]:
type(x)

dict

In [52]:
x={"1":34, "2":56}
x

{'1': 34, '2': 56}

In [53]:
type(x)

dict

In [1]:
x={"name":"Pranjal", "Age":23}
x

{'name': 'Pranjal', 'Age': 23}

In [2]:
x1={"name":"Pranjal","name":"Ankita","Age":2113, True:"eyuif", 3466:36474}
x1

{'name': 'Ankita', 'Age': 2113, True: 'eyuif', 3466: 36474}

In [4]:
x1={"name":"Pranjal","name":"Ankita","Age":2113, True:"eyuif", 3466:36474, "%":1434}
x1

{'name': 'Ankita', 'Age': 2113, True: 'eyuif', 3466: 36474, '%': 1434}

In [7]:
x1={"name":"Pranjal","name":"Ankita","Age":2113, True:"eyuif", 3466:36474, "_123":1636}
x1

{'name': 'Ankita', 'Age': 2113, True: 'eyuif', 3466: 36474, '_123': 1636}

In [8]:
x1={"name":"Pranjal","name":"Ankita","Age":2113, True:"eyuif", 3466:(364,74,34),"_123":[145,"hhjdk"]}
x1

{'name': 'Ankita',
 'Age': 2113,
 True: 'eyuif',
 3466: (364, 74, 34),
 '_123': [145, 'hhjdk']}

In [9]:
x2={{3:"hsu"}:"weret", "k4":[12,34,56]}
x2

TypeError: unhashable type: 'dict'

In [10]:
x2={"weret":{3:"hsu"}, "k4":[12,34,56]}
x2

{'weret': {3: 'hsu'}, 'k4': [12, 34, 56]}

In [11]:
x3={"wegye":[1,2,4]}
x3

{'wegye': [1, 2, 4]}

In [12]:
l=[1,3,5,6]
l[2]

5

In [13]:
x1

{'name': 'Ankita',
 'Age': 2113,
 True: 'eyuif',
 3466: (364, 74, 34),
 '_123': [145, 'hhjdk']}

In [14]:
x1[3466]

(364, 74, 34)

In [16]:
x1[True]

'eyuif'

In [17]:
x1["_123"][1]

'hhjdk'

In [18]:
x4={"name":{"k1":"eur","k4":[145,56,789,899]}, "Age":36, True:{1,2,3,4}, "Key":False, 112:(3,5,6)}
x4

{'name': {'k1': 'eur', 'k4': [145, 56, 789, 899]},
 'Age': 36,
 True: {1, 2, 3, 4},
 'Key': False,
 112: (3, 5, 6)}

In [19]:
x4["name"]

{'k1': 'eur', 'k4': [145, 56, 789, 899]}

In [20]:
type(x4["name"])

dict

In [22]:
x4["name"]["k4"]

[145, 56, 789, 899]

In [23]:
x5={5:"gshdu", "k4":[145,56,789,899]}

In [24]:
x6={"k4":"ytyw"}

In [25]:
x5+x6

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [26]:
x6*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [27]:
x6

{'k4': 'ytyw'}

In [28]:
x5

{5: 'gshdu', 'k4': [145, 56, 789, 899]}

In [29]:
x5["k4"]

[145, 56, 789, 899]

In [30]:
x6["k4"]

'ytyw'

In [31]:
x7={5:"gshdu", "k4":145}
x7

{5: 'gshdu', 'k4': 145}

In [32]:
x7["k4"]-=10

In [33]:
x7

{5: 'gshdu', 'k4': 135}

In [34]:
###another way to write
x7["k4"]=x7["k4"]-10

In [35]:
x7

{5: 'gshdu', 'k4': 125}

In [36]:
x7.keys()

dict_keys([5, 'k4'])

In [37]:
"k4" in x7.keys()

True

In [38]:
x7

{5: 'gshdu', 'k4': 125}

In [39]:
for i in x7:
    print(i)

5
k4

In [41]:
for i in x7.keys():
    print([i])

[5]
['k4']

In [42]:
for i in x7.keys():
    print(x7[i])

gshdu
125

In [43]:
x4

{'name': {'k1': 'eur', 'k4': [145, 56, 789, 899]},
 'Age': 36,
 True: {1, 2, 3, 4},
 'Key': False,
 112: (3, 5, 6)}

In [44]:
x4.keys()

dict_keys(['name', 'Age', True, 'Key', 112])

In [45]:
for i in x4.keys():
    print(type(x4[i]))

<class 'dict'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'tuple'>

In [46]:
x4.items()

dict_items([('name', {'k1': 'eur', 'k4': [145, 56, 789, 899]}), ('Age', 36), (True, {1, 2, 3, 4}), ('Key', False), (112, (3, 5, 6))])

In [48]:
for i in x4.items():
    print(i)

('name', {'k1': 'eur', 'k4': [145, 56, 789, 899]})
('Age', 36)
(True, {1, 2, 3, 4})
('Key', False)
(112, (3, 5, 6))

In [49]:
for i in x4.items():
    print(i[0])

name
Age
True
Key
112

In [50]:
for i in x4.items():
    print(i[1])

{'k1': 'eur', 'k4': [145, 56, 789, 899]}
36
{1, 2, 3, 4}
False
(3, 5, 6)

In [51]:
x8={(12,45,67):"gskka"}
x8

{(12, 45, 67): 'gskka'}

In [52]:
x8[(12,45,67)]

'gskka'

In [53]:
len(x8)

1

In [54]:
e={56:{34,68,87}}
e

{56: {34, 68, 87}}

In [55]:
list(e[56])[2]

87

In [1]:
d={"Institute":"Quastech", "Course":"Data Science using Python", "Year":2021}
d

{'Institute': 'Quastech', 'Course': 'Data Science using Python', 'Year': 2021}

In [2]:
for i in d:
    print("Print a key: ", i, "     Value: ",d[i])

Print a key:  Institute      Value:  Quastech
Print a key:  Course      Value:  Data Science using Python
Print a key:  Year      Value:  2021

In [3]:
for i in d:
    print(i)

Institute
Course
Year

In [4]:
for i in d:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>

In [6]:
for i in d.keys():
    print(type(d[i]))

<class 'str'>
<class 'str'>
<class 'int'>

In [16]:
d1={"Institute":"Quastech", "Course":"Data Science using Python", "Year":2011}
d1

{'Institute': 'Quastech', 'Course': 'Data Science using Python', 'Year': 2011}

In [17]:
for i in d1:
    if i=="Year":
        if d1[i]>2021:
            print("Year is fine")
        else:
            d1[i]=2022
            print("Year is not valid")

Year is not valid

In [18]:
d1

{'Institute': 'Quastech', 'Course': 'Data Science using Python', 'Year': 2022}

# List

In [32]:
l=[12,384,"sfgh",45,"hhfj",56]
l

[12, 384, 'sfgh', 45, 'hhfj', 56]

In [28]:
len(l)

6

In [29]:
type(l)

list

In [31]:
for i in range(len(l)):
    print(l[i])

12
384
sfgh
45
hhfj
56

# Dictionary Comprehension

In [22]:
my_dict={}
for i in range(1,11):
    my_dict[i]=i*i
my_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [24]:
{i:i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [25]:
{i*i for i in range(1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}