# 24 Jan (Monday)

In [ ]:
- Readability
- Modularity
- Reusability

In [1]:
a= 1000
b= 500
a+b

1500

<return type> <function name(dtype), (dtype)>
{
    -----
    -----
    -----
    return value
}

def function name(value1, value2):
      -----
     ------
     ------
     ------

In [2]:
def test(x,y):
    pass

In [3]:
def test1(x,y):
    pass
def test2(x,y):
    pass
def test3(x,y):
    pass

# Print Statement

In [4]:
def test(a,b):
    print(a+b)

In [5]:
test(1000,50)

1050

In [6]:
def test(a,b):
    #print(a+b)
    return a+b
test(10,30)

40

both return and print will execute the program only difference is we don't need to give parentheses in return statement
and we have to give parentheses in print statement

In [13]:
def test1(b,m):
    return b*m

In [14]:
test1(11,5)

55

In [18]:
def test1(b,m):
    print (b*m)

In [16]:
test1(11,5)

55

In [37]:
m=10
b=5
type(print(b*m))

50

NoneType

In [38]:
type(m)

int

In [39]:
def test1(b,m):
    print(b*m)

In [40]:
type(test1(12,5))

60

NoneType

In [22]:
test1(11,5)+6

55

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [24]:
### Return statement will give answer
def test1(b,m):
    return b*m

In [25]:
test1(12,5)+6

66

In [26]:
type(return b*m)

SyntaxError: invalid syntax (<ipython-input-26-76bb71b50292>, line 1)

In [27]:
type(test1(12,5)+6)

int

In [28]:
type(test1(12,5))

int

In [41]:
def test2(t,n,m):
    return t+n

In [42]:
test2(2,3,1)

5

In [43]:
test2(2,3,6)

5

In [44]:
def test3(n,m):    #n-> 2, m-> 7
    return n*10, m*40, m+n

In [45]:
test3(2,7)

(20, 280, 9)

In [46]:
type(test3)

function

In [47]:
test3(3,2)

(30, 80, 5)

In [48]:
type(test3(2,7))

tuple

In [49]:
c,x,y = (test3(3,2))

In [50]:
_,_,_ = (test3(3,2))

In [51]:
_

5

In [52]:
x

80

In [53]:
y

5

In [54]:
_ =" hhijkm"
type(_)

str

In [55]:
_ = 10     # _ -> placeholer
_

10

In [56]:
type(_)

int

In [57]:
a,b,c = test3(2,7)
a,b,c

(20, 280, 9)

In [58]:
_ = test3(2,7)
_

(20, 280, 9)

In [59]:
def test4():
    print("this my first function")
test4()

this my first function

In [61]:
m = test4()+"absnh"

this my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [62]:
def test4():
    return "this my first function"
test4()

'this my first function'

In [65]:
m = test4()+" absnh"
m

'this my first function absnh'

In [66]:
def test5(n):
    return n*2

In [67]:
test5([2,3,4,5,"tryru"])

[2, 3, 4, 5, 'tryru', 2, 3, 4, 5, 'tryru']

In [68]:
def test5(n):
    return n,n*2

In [69]:
test5([2,3,4,5])

([2, 3, 4, 5], [2, 3, 4, 5, 2, 3, 4, 5])

In [70]:
b = test5([2,3,4,5])  
b

([2, 3, 4, 5], [2, 3, 4, 5, 2, 3, 4, 5])

In [71]:
b[0]

[2, 3, 4, 5]

In [72]:
b[1]

[2, 3, 4, 5, 2, 3, 4, 5]

In [73]:
def test6(n, m=90):  # n->60
    return n+m   # 60 + 90 =150

In [74]:
test6(60)

150

In [75]:
test6(60,100) # 60+100

160

In [77]:
def boolx(x=True, y=False):
    return x+y
boolx()

1

In [78]:
boolx(False,8)

8

In [79]:
boolx(False)

0

In [80]:
def travel(bike=True, car=False):
    plan_travel = bike or car     
    return bike, car, plan_travel 
travel()             #### function calling with default parameters

(True, False, True)

In [81]:
travel(False)  # -> False, F, F

(False, False, False)

In [82]:
travel(car=True) # T, T, T

(True, True, True)

In [83]:
def test7(*args):
          return args

In [85]:
test7("Pranjal", "Jadhav",34,[34,4,9,5,67,45] )

('Pranjal', 'Jadhav', 34, [34, 4, 9, 5, 67, 45])

In [86]:
list1 = [10,23,45,56,67]

In [87]:
for i in list1:
    print(i)

10
23
45
56
67

In [88]:
def test7(*args):        # Labelled argument   args -> [11,12,13,34]
    l = []
    for i in args:
        #l.append(i)
        l=l+i
    return l

In [89]:
test7([11,12,13,34])

[11, 12, 13, 34]

In [90]:
test7([11,12,13,34],[34,4,4,5,454,54])

[11, 12, 13, 34, 34, 4, 4, 5, 454, 54]

In [91]:
l =[12,23,4,5,67]
def test7(l):    # l -> [11,12,13,34]
    m = []
    for i in m:
        l.append(i)
        #m=m+i
    return m

In [92]:
test7([12,23,4,5,67])

[]

In [93]:
test7([[11,12,13,34],[34,4,4,5,454,54]])

[]

# 25 Jan

# Positional Arguments

In [1]:
def test8(*args):
    return[i for i in args]

In [2]:
test8([1,2,3],[4,5,6],["ced", True, 34+5j])

[[1, 2, 3], [4, 5, 6], ['ced', True, (34+5j)]]

In [3]:
test8(123,"fegfr",[1,2,3],[4,5,6],["ced", True, 34+5j])

[123, 'fegfr', [1, 2, 3], [4, 5, 6], ['ced', True, (34+5j)]]

In [6]:
def test7(*args):
    l = []
    for i in args:
        l.append(i)
        #l=l+i
    return l

In [7]:
test7(123,"fegfr",[1,2,3],[4,5,6],["ced", True, 34+5j])

[123, 'fegfr', [1, 2, 3], [4, 5, 6], ['ced', True, (34+5j)]]

In [8]:
def test9(*args):
    l = []
    for i in args:
        if type(i)==list:
            #l.append(i)
            l = l + i
        
    return l

In [9]:
test9(123,"fegfr",[1,2,3],[4,5,6],["cef",True,34+5j])

[1, 2, 3, 4, 5, 6, 'cef', True, (34+5j)]

# Keyword Arguments

In [8]:
def test10(*args):        # positional arguments
    return args

In [9]:
test10(4,5,67)

(4, 5, 67)

In [10]:
def test10(**kwargs):        # Keyword arguments
    return kwargs

In [11]:
test10(a=4,b=5,c=67)

{'a': 4, 'b': 5, 'c': 67}

In [12]:
test10(a=8, b=9, c=10)

{'a': 8, 'b': 9, 'c': 10}

In [18]:
test10 ({'a':8,'b':9,'c':10})

TypeError: test10() takes 0 positional arguments but 1 was given

In [19]:
test10(a="Pranjal", b=[True,25,11], c=10+6j)

{'a': 'Pranjal', 'b': [True, 25, 11], 'c': (10+6j)}

In [20]:
def test11(*args):
    return args

In [21]:
test11(12,"nji",[1,2,3,4],12+3j)

(12, 'nji', [1, 2, 3, 4], (12+3j))

# Tasks
1. Create a function which creates any number of mixed data and try to create a list of seperate data based on data type and return multiple results

2. Create a function which will be able to use "args", and "*kwargs" and it will be able to do all the list value concatenation and return a list

In [22]:
def test17(*args):
    l = []
    l1 = []
    for i in args:
        if i == int:
            l.append(i)
        if i == float:
            l1.append(i)
        
    return args

In [23]:
test17(3,4,5,6,7,9.8,True,"strin1",(1,2,3),{'a':1,'b':2,'c':3}, False,[1,2,3,45],4+5j)

(3,
 4,
 5,
 6,
 7,
 9.8,
 True,
 'strin1',
 (1, 2, 3),
 {'a': 1, 'b': 2, 'c': 3},
 False,
 [1, 2, 3, 45],
 (4+5j))

In [24]:
#### 1.

def fun1(*args):
    a_int = []
    b_float = []
    c_str = []
    d_tuple = []
    e_list = []
    f_dict = []
    g_bool = []
    h_complx =[]
    for i in args:   # args -> 3,4,5,6,7,9.8,True,"strin1",(1,2,3),{'a':1,'b':2,'c':3}, False,[1,2,3,45],4+5j
        if type(i)==int:
            a_int.append(i)
        if type(i)==float:
            b_float.append(i)
        if type(i)==str:
            c_str.append(i)
        if type(i)==tuple:
            d_tuple.append(i)
        if type(i)==list:
            e_list.append(i)
        if type(i)==dict:
            f_dict.append(i)
        if type(i)==bool:
            g_bool.append(i)
        if type(i)==complex:
            h_complx.append(i)
            
    return a_int,b_float,c_str,d_tuple,e_list,f_dict,g_bool, h_complx

In [25]:
fun1(3,4,5,6,7,9.8,True,"strin1",(1,2,3),{'a':1,'b':2,'c':3}, False,[1,2,3,45],4+5j)

([3, 4, 5, 6, 7],
 [9.8],
 ['strin1'],
 [(1, 2, 3)],
 [[1, 2, 3, 45]],
 [{'a': 1, 'b': 2, 'c': 3}],
 [True, False],
 [(4+5j)])

In [26]:
####1.           (Another way)

def test18(*args):
    dt = {}
    for i in args:
        if type(i) in dt:  
            dt[type(i)].append(i)
        else:
            dt[type(i)]=[i]    #   {int:[1,2,3] , list:[[5,6,7,8]], str:["fefe","hi"],complex: [(6+5j)],bool: [True] }
           
    return dt

In [27]:
test18(1,2,3,[5,6,7,8],"fefe","hi",6+5j, True)

{int: [1, 2, 3],
 list: [[5, 6, 7, 8]],
 str: ['fefe', 'hi'],
 complex: [(6+5j)],
 bool: [True]}

In [30]:
#2.
def fun2(*args, **kwargs):   # args ->[4,5,6,7],[8,9,10], 10,20,30,"niui", kwargs -> m=[1,2,3,4]
    l = [i for i in args if type(i)==list]
    d = [i[1] for i in kwargs.items() if type(i[1] == list)]
    return l,d

In [31]:
fun2([4,5,6,7],[8,9,10],10,20,30,"niui", m=[1,2,3,4])

([[4, 5, 6, 7], [8, 9, 10]], [[1, 2, 3, 4]])

In [35]:
def test18(**kwargs):
    return kwargs

In [36]:
test18(a=12,b=[4,5,6,7],c = True,d=["Pranjal",5.67],e=6+7j)

{'a': 12, 'b': [4, 5, 6, 7], 'c': True, 'd': ['Pranjal', 5.67], 'e': (6+7j)}

In [37]:
def test18(**kwargs):
    for i in kwargs.items():
        print(i)
    return kwargs

In [38]:
test18(a=12,b=[4,5,6,7],c = True,d=["Pranjal",5.67],e=6+7j)

('a', 12)
('b', [4, 5, 6, 7])
('c', True)
('d', ['Pranjal', 5.67])
('e', (6+7j))

{'a': 12, 'b': [4, 5, 6, 7], 'c': True, 'd': ['Pranjal', 5.67], 'e': (6+7j)}

In [39]:
def test18(**kwargs):
    for i in kwargs.items():
        if type(i[1]) == list:   # i[1]=[[4,5,6,7]]
            if "Pranjal" in i[1]:
                print("I am able to find a name in a input data")
                print(i[1])
    return kwargs

In [41]:
test18(a=12,b=[4,5,6,7],c = True,d=["Pranjal",5.67],e=6+7j)

I am able to find a name in a input data
['Pranjal', 5.67]

{'a': 12, 'b': [4, 5, 6, 7], 'c': True, 'd': ['Pranjal', 5.67], 'e': (6+7j)}

In [42]:
d = {'a': 12, 'b': [4, 5, 6, 7], 'c': True, 'd': ['Pranjal', 5.67], 'e': (6+7j)}

In [43]:
d.items()

dict_items([('a', 12), ('b', [4, 5, 6, 7]), ('c', True), ('d', ['Pranjal', 5.67]), ('e', (6+7j))])

In [44]:
def test18(**kwargs):
    for i in kwargs.values():
        if type(i) == list:
            if "Pranjal" in i:
                print("I am able to find a name in a input data")
                print(i)
    return kwargs

In [46]:
test18(a=12,b=[4,5,6,7],c = True,d=["Pranjal",5.67],e=6+7j)

I am able to find a name in a input data
['Pranjal', 5.67]

{'a': 12, 'b': [4, 5, 6, 7], 'c': True, 'd': ['Pranjal', 5.67], 'e': (6+7j)}